<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="/style.css"> -->

    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
</head>

<body>
<div id="movie-card-list">
  <div class="movie-card" data-movie="Forrest Gump">
    <div class="movie-card__overlay"></div>
    <div class="movie-card__share">
    </div>
    <div class="movie-card__content">
      <div class="movie-card__header">
        <h1 class="movie-card__title">Forrest Gump</h1>
        <h4 class="movie-card__info">(1994) Drama, Romance</h4>
      </div>
      <p class="movie-card__desc">The presidencies of Kennedy and Johnson, the events of Vietnam, Watergate, and other history unfold through the perspective of an Alabama man with an IQ of 75.</p>
         <form action="/video_youtube" method="get" align="center">
         <input type="submit" name="video" value="Watch Film" align="center" class="btn btn-outline movie-card__button">
      <!-- <button class="btn btn-outline movie-card__button" type="button">Watch Trailer</button> -->
    </div>
  </div>
  <div class="movie-card" data-movie="Back to the Future">
    <div class="movie-card__overlay"></div>
    <div class="movie-card__share">
    </div>
    <div class="movie-card__content">
      <div class="movie-card__header">
        <h1 class="movie-card__title">Back to the Future</h1>
        <h4 class="movie-card__info">(1985) Adventure, Comedy, Sci-Fi</h4>
      </div>
      <p class="movie-card__desc">Marty McFly, a 17-year-old high school student, is accidentally sent 30 years into the past in a time-traveling DeLorean invented by his close friend, the maverick scientist Doc Brown.</p>
      <button class="btn btn-outline movie-card__button" type="button">Watch Film</button>
    </div>
  </div>
  <div class="movie-card" data-movie="Akira">
    <div class="movie-card__overlay"></div>
    <div class="movie-card__share">
    </div>
    <div class="movie-card__content">
      <div class="movie-card__header">
        <h1 class="movie-card__title">Akira</h1>
        <h4 class="movie-card__info">(1988) Animation, Action, Drama</h4>
      </div>
      <p class="movie-card__desc">A secret military project endangers Neo-Tokyo when it turns a biker gang member into a rampaging psychic psychopath that only two teenagers and a group of psychics can stop.</p>
      <button class="btn btn-outline movie-card__button" type="button">Watch Film</button>
    </div>
  </div>
</div>
</body>